<!DOCTYPE html>
<html>
<head>
	<title>Whiteboard</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Cute+Font&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	
	<h1>White Board</h1>
	<p>	This is a white board element, well actually this page is a template page for a white page element. Basic html is setup with CSS and JS linked and ready to roll. You can copy this template folder entirely to start a new element and edit as needed for your element. The idea is to create small reusable pieces of code for web page elements. Like a bootstrap element or a react component. <em>Quick note for any beginners using this project: The images are linked via a folder outside of the template folder, so if you copy this folder and place in a new directory your images will not link. </em> Have fun creating! <a href="https://www.russellsoppe.com">Russell Soppe</a></p>

	<img class="item" src="../imgs/hello-i-m-nik-HcGynpkYKX8-unsplash.jpg" height="20%" width="20%">
	<img class="item" src="../imgs/alexander-hess-TjaylnLofm4-unsplash.jpg" height="20%" width="20%">
	<img class="item" src="../imgs/andrew-neel-M8mbJPn8zYo-unsplash.jpg" height="20%" width="20%">
	<img class="item" src="../imgs/austin-distel-744oGeqpxPQ-unsplash.jpg" height="20%" width="20%">
	<img class="item" src="../imgs/austin-distel-Imc-IoZDMXc-unsplash.jpg" height="20%" width="20%">
	<img class="item" src="../imgs/ben-white-5PDsRCyiKgw-unsplash.jpg" height="20%" width="20%">
	<img class="item" src="../imgs/kelly-sikkema-Nel8STCcWy8-unsplash.jpg" height="20%" width="20%">
	<img class="item" src="../imgs/lauren-sauder-N52kuG_koFo-unsplash.jpg" height="20%" width="20%">
	<img class="item" src="../imgs/neonbrand-HIzGn9FZDFU-unsplash.jpg" height="20%" width="20%">
	<img class="item" src="../imgs/priscilla-du-preez-oOQZiwSHTTE-unsplash.jpg" height="20%" width="20%">

<script type="text/javascript" src="script.js"></script>
</body>
</html>